# Tüm JavaScript, CSS ve HTML dosyalarını dil analizinden (renkli bar) gizle
*.js linguist-detectable=false
*.css linguist-detectable=false
*.html linguist-detectable=false

# wwwroot altındaki hazır kütüphaneleri 3. parti (vendored) olarak işaretle (istatistiğe katılmaz)
**/wwwroot/lib/** linguist-vendored
**/wwwroot/js/** linguist-vendored
**/wwwroot/css/** linguist-vendored
