@model P12._01_ViewModel.ViewModels.PersonelCreateViewModel 

<form asp-action="Index" method="post">

    <input type="type" asp-for="Name" /> <br
    <input type="type" asp-for="LastName" /> <br
    <button type="submit">Gönder</button>
</form>