@model List<P02_Viewler_View_Veri_Tasima.Models.Product> // Model tanımlaması



<ul>
	@foreach(var product in Model) // Model üzerinden döngü
	{
		<li>@product.ID - @product.ProductName - @product.Quantity</li> // Ürün bilgilerini listeleme
	}

</ul>