@model (P02_Viewler_View_Veri_Tasima.Models.Product , P02_Viewler_View_Veri_Tasima.Models.User )
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<H3>@Model.Item1.ProductName</H3> 
<H3>@Model.Item2.Name</H3> 