@{
    ViewData["Title"] = "VeriAlParametre";
}


<form asp-action="VeriAlClass" asp-controller="Product" method="post">
    <input type="type" name="txtValue1" /> <br />
    <input type="type" name="txtValue2" /> <br />
    <input type="type" name="txtValue3" /> <br />
    <button type="submit"></button>
</form>

