@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_ModulerTasarimLayout.cshtml";
}

<main>
    <h2>Hoş Geldin 👋</h2>
    <p>Bu alan dinamik içeriklerin geleceği yer. MVC’de View buraya render edilir.</p>

    <div class="card">
        <h4>İstatistik 1</h4>
        <p>Bugünkü ziyaretçi sayısı: 1243</p>
    </div>

    <div class="card">
        <h4>İstatistik 2</h4>
        <p>Aktif kullanıcı: 87</p>
    </div>

    <div class="card">
        <h4>Duyuru</h4>
        <p>Sistem bakımı pazar günü yapılacaktır.</p>
    </div>
</main>
