@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section kampanya {
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Layout" asp-action="Kampanya">Kampanyalar</a>
    </li>
}

Burası Sayfa 1

