
@{
    ViewData["Title"] = "CreateProduct";
}

<form asp-action="CreateProduct" method="post">
    <input type="text" name="txtProductName" placeholder="Product Name" />
    <br />
    <input type="number" name="txtQuantity" placeholder="Quantity" />
    <br />
    <button type="submit">Urun Ekle</button>
</form>

