@model List<string>
<aside>
    <h3>Menü</h3>
    <ul>
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Siparişler</a></li>
        <li><a href="#">Müşteriler</a></li>
        <li><a href="#">Raporlar</a></li>
    </ul>

    <img src="@Model[0]" alt="Alternate Text" />
    <img src="@Model[1]" alt="Alternate Text" />
    <img src="@Model[2]" alt="Alternate Text" />
</aside>